*{
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
    margin: 0;
}

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;

}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

h2{
    font-size: 3.5em;
}
h6{
    font-size: 2.7em;
}
p{
    font-size: 1.25em;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(./imagenes/background0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h2{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#somos-fbtrading .container{
    text-align: center;
    padding: 200px 12px;

}

#somos-fbtrading h6{
    margin-top: 0px;
}

#somos-fbtrading .img-container{
    background-image: url(./imagenes/imagen5.jpg);
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 400px;
    align-items: center;
    padding-left: 200px;
}

#nuestros-cursos{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-cursos .container{
    padding: 150px 12px;
}

#nuestros-cursos h6{
    margin-top: 0;
    font-size: 2.2em;
}

#nuestros-cursos h4{
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

#nuestros-cursos p{
    display: none;
}

#nuestros-cursos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(./imagenes/tradingprincipiantes.jpg)
}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(./imagenes/tradingavanzado.jpg)
}
.carta:last-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(./imagenes/nfts.jpg)
}



button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0.5);
    box-shadow: 2px 2px 10px rgb(0, 0, 0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

.container{
    max-width: 1400px;
    margin: auto;
}

h5{
    font-size: large;

}

.mapa{
    text-align: center;
    padding: 200px 12px;
}

.map-container iframe{
    width: 400px;
    height: 350px;
}

.mapa h5{
    font-size: 2em;
}

.grupo-1{
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
}

.pie-pagina{
    width: 100%;
    background-color: rgb(245, 245, 245);
}

figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer{
    width: 250px;
}

h3{
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    font-size: 20px;
}

.box h2{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.pie-pagina .grupo-1 .box p{
    color: #000000;
    margin-bottom: 10px;

}

.pie-pagina .grupo-1 .red-social img{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(0, 0, 0);
        margin-right: 10px;
        background-color: #000000;
        text-align: center;
        transition: all 300ms ease;

    }

    .pie-pagina .grupo-1 .red-social a:hover{
        color: rgb(255, 255, 255);
    }

    .pie-pagina .grupo-2{

        padding: 15px 10px;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    .pie-pagina .grupo-2 span{
        text-align: center;
        font-size: 15px;
    }

    .pie-pagina h4{
        font-size: large;
        color: rgb(0, 0, 0);
    }

    .pie-pagina h6{
        font-size: 2em;
        color: black;

    }

    .grupo-1 .box h6{
        align-items: center;
        justify-content: center;
    }












@media screen and (min-width: 600px){

*{
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
    margin: 0;
}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0.5);
    box-shadow: 2px 2px 10px rgb(0, 0, 0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

h2{
    font-size: 3.5em;
}
h6{
    font-size: 2.7em;
}
p{
    font-size: 1.25em;
}
h5{
    font-size: large;

}





.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 900px 900px 900px 900px 150px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 5 / 1 / 6 / 2; }
    .div6 { grid-area: 6 / 1 / 7 / 2; }


header{
        background-color: rgb(245,245,245);
        width: 100%;
    }

header .logo{
        margin: 0;
        padding: 25px 30px;
        font-weight: bold;
        color: blueviolet;
        font-size: 1.6em;

    }

header h1{
        margin-left: 30px;
        grid-column-start: 1;
    }

header .container{
        flex-direction: row;
        justify-content: space-between;
    }

header nav{
        flex-direction: column;
        padding-bottom: 0;
        padding-right: 20px;
}

header .container{
        display: flex;
        flex-direction: row;
        align-items: center;
}

header nav{
        display: flex;
        flex-direction: row;
        text-align: center;
        padding-bottom: 25px;
}

header a{
        padding: 5px 12px;
        text-decoration: none;
        font-weight: bold;
        color: black;
}

header a:hover{
        color: blueviolet;
}

#hero{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 90vh;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("./imagenes/background0.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
}

#hero h2{
        color: white;
}

#hero button{
        font-size: 1.75em;
}

#somos-fbtrading .container{
        display: flex ;
        justify-content: space-evenly;
        padding: 150px;
}

#somos-fbtrading .texto{
        width: 50%;
        text-align: initial;
        padding: 0px 30px;
        max-width: 600px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

#somos-fbtrading h6{
        margin-top: 0px;
}

#somos-fbtrading .img-container{
        background-image: url(./imagenes/imagen5.jpg);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;
}

#nuestros-cursos .cursos{
        display: flex;
        justify-content: center;
}

#nuestros-cursos p{
        display: block;
        margin-bottom: 30px;
}

#nuestros-cursos h4{
        font-size: 2.5em;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
}

#nuestros-cursos h6{
        margin-top: 0;
}

#nuestros-cursos .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}


#nuestros-cursos{
        background-color: rgb(30,30,30);
        color: white;
        text-align: center;
}

#nuestros-cursos .container{
        padding: 100px 12px;
}

#nuestros-cursos h6{
        margin-top: 0;
        font-size: 2.2em;
}

#nuestros-cursos h4{
        font-size: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;

}

#nuestros-cursos p{
        display: none;
}

#nuestros-cursos .carta{
        background-position: center center;
        background-size: cover;
        padding: 50px 0px;
        margin: 30px;
        border-radius: 15px;
    }

.carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(./imagenes/tradingprincipiantes.jpg)

}
.carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(./imagenes/tradingavanzado.jpg)
}
.carta:last-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(./imagenes/nfts.jpg)
}

.mapa{
        text-align: center;
        padding: 100px 12px;


}

.map-container iframe{
    width: 650px;
    height: 450px;
}


.mapa h5{
        font-size: 2em;
}

.pie-pagina{
        width: 100%;
        background-color: rgb(245, 245, 245);
}

.grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
}

figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.logo-footer{
        width: 250px;
}

h3{
        color: rgb(0, 0, 0);
        margin-bottom: 25px;
        font-size: 20px;
}

.box h2{
        color: rgb(0, 0, 0);
        text-decoration: none;

}

.pie-pagina .grupo-1 .box p{
        color: #000000;
        margin-bottom: 10px;

}

.pie-pagina .grupo-1 .red-social img{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: rgb(0, 0, 0);
            margin-right: 10px;
            background-color: #000000;
            text-align: center;
            transition: all 300ms ease;

        }

        .pie-pagina .grupo-1 .red-social a:hover{
            color: rgb(255, 255, 255);
        }

        .pie-pagina .grupo-2{

            padding: 15px 10px;
            text-align: center;
            color: rgb(0, 0, 0);
        }

        .pie-pagina .grupo-2 span{
            text-align: center;
            font-size: 15px;
        }

        .pie-pagina h4{
            font-size: large;
            color: rgb(0, 0, 0);
        }

        .pie-pagina h6{
            font-size: 2em;
            color: black;

        }
    }







/*CSS PARA SECCIÓN CURSOS---------------------------------------------CURSOS----------------------------------------------------------------------------*/



#atp{
    margin-bottom: 30px;
}

#atp .container{
    display: flex;
    justify-content: space-evenly;
}

#atp .texto{
    width: 50%;
    text-align: initial;
    padding: 0px 30px;
    max-width: 600px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#atp h6{
    margin-top: 0px;
}

#atp .img-container{
    margin-top: 170px;
    background-image: url(./imagenes/tradingprincipiantes.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 500px;
}

#atp .container{
    display: flex;
    justify-content: space-evenly;
}

#atp .texto{
    width: 50%;
    text-align: initial;
    padding: 0px 30px;
    max-width: 600px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#atp h6{
    margin-top: 0px;
}

#atp .img-container{
    background-image: url(./imagenes/tradingprincipiantes.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 500px;
}

#ata{
    background-color: rgb(30,30,30);
    color: white;
    margin-top: 150px;
}

#ata .container{
    display: flex;
    justify-content: space-evenly;
    height: 800px;
}

#ata .texto{
    width: 50%;
    text-align: initial;
    padding: 0px 30px;
    max-width: 600px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ata h6{
    margin-top: 0px;
}

#ata .img-container{
    background-image: url(./imagenes/tradingavanzado.jpg);
    background-size: cover;
    background-position: right;
    height: 500px;
    width: 500px;
    margin-top: 170px;

}

#eln{

    background-color: white;
    color: black;
}

#eln .container{
    display: flex;
    justify-content: space-evenly;
}

#eln .texto{
    width: 50%;
    text-align: initial;
    padding: 0px 30px;
    max-width: 600px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#eln h6{
    margin-top: 0px;
}

#eln .img-container{
    margin-top: 170px;
    background-image: url(./imagenes/tradingprincipiantes.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 500px;
}

#eln .container{
    display: flex;
    justify-content: space-evenly;
}

#eln .texto{
    width: 50%;
    text-align: initial;
    padding: 0px 30px;
    max-width: 600px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#eln h6{
    margin-top: 0px;
}

#eln .img-container{
    background-image: url(./imagenes/nft2.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 500px;
}















/*CSS PARA SECCIÓN CONTACTO-----------------------------------CSS PARA SECCIÓN CONTACTO-----------------------------------------------------------*/


.parent2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 700px 900px 400px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.container2{

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 100px;
    }

    .container2:after{
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url(./imagenes/imgcontacto.jpg) no-repeat center;
        background-size: cover;
    }
    .contact-box{
        max-width: 850px;
        margin-top: 200px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
        margin-bottom: 200px;
    }

    .left{
        background: url("./imagenes/imgcontacto.jpg") no-repeat center;
        background-size: cover;
        height: 100%;
    }

    .right{
        padding: 25px 40px;
    }

    .right h2{
        position: relative;
        padding: 0 0 10px;
        margin-bottom: 10px;
    }

    h2:after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 50px;
        border-radius: 2px;

    }

    .field{
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0);
        outline: none;
        background-color: rgba(230, 230, 230, 0.6);
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        margin-bottom: 22px;
        transition: .3s;
    }

    .field:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }

    textarea{
        min-height: 150px;
    }

    .btn{
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: blueviolet;
        color: #fff;
        font-size: 1.1rem;
        border: none;
        outline: none;
        cursor: pointer;
        transition: .3s;
    }

    .btn:hover{
        background-color: rgb(101, 33, 165);
    }

    .parent3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 800px 80px
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }

        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 2 / 1 / 3 / 2; }
        .div3 { grid-area: 3 / 1 / 4 / 2; }


    /*CSS PARA SECCION NOSOTROS-----------------------------------CSS PARA SECCIÓN NOSOTROS-----------------------------------------------------------*/

    #sobre-nosotros{
        color: #fff;
        background-color: rgb(30,30,30);
    }

    #sobre-nosotros .container{
        display: flex ;
        justify-content: space-evenly;

    }

    #sobre-nosotros .texto{
        width: 50%;
        text-align: initial;
        padding: 0px 30px;
        max-width: 600px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 170px;
        margin-bottom: 170px;
    }

    #sobre-nosotros h6{
        margin-top: 0px;
    }

    #sobre-nosotros .img-container{
        background-image: url(./imagenes/imagen5.jpg);
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 400px;
        margin-top: 120px;
    }




    .container3{
        text-align: center;
        background-color: white;
    }

    .header2{
        padding-top: 60px;
        color: rgb(0, 0, 0);
        font-size: 20px;
        margin: auto;
        line-height: 50px;
    }

    .sub-container{
        max-width: 1200px;
        margin: auto;
        padding: 48px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .equipos{
        margin: 10px;
        padding: 22px;
        max-width: 30%;
        cursor: pointer;
        transition: 0.4s;
        box-sizing: border-box;
    }

    .equipos:hover{
        background: #ddd;
    }

    .equipos img{
        width: 300px;
        height: 400px;
    }

    .name{
        padding: 12px;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
    }

    .desig{
        font-style: italic;
        color: #888;
    }

    .about{
        margin: 20px 0;
        font-weight: lighter;
        color: #4e4e4e;

    }


    /*CSS PARA SECCION PRECIOS-----------------------------------CSS PARA SECCIÓN PRECIOS-----------------------------------------------------------*/

    .crypto{
        margin-bottom: 200px;
    }

    .heading1{
        text-align: center;
        color: var(--black);
        font-size: 3rem;
        padding-bottom: 2rem;
        padding-top: 8rem;
        text-transform: uppercase;
        margin-bottom: 100px;
    }

    .crypto .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1.5rem;
        margin-top: 100px;
    }
    .crypto .box-container .box{
        padding: 2.5rem;
        background: #fff;
        border-radius: 5rem;
        border: 1rem solid rgba(0,0,0,.2);
        box-shadow: var(--box-shadow);
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    .crypto .box-container .box img{
        height: 17rem;
        margin: 1rem 0;
    }

    .crypto .box-container .box h2{
        color: black;
        font-size: 2.5rem;
    }

    .crypto .box-container .box span{
        color: green;
        font-weight: bolder;
        margin-right: 1rem;
        font-size: 2.5rem;
    }

    }
